#Book{
  position: relative;

  img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  h6{
    font-size: 1rem;

    &:hover{
      color: #db9600;
    }
  }

  a{
    color: #298ccf;
    text-decoration: none;

    &:hover{
      color: #000;
    }
  }

  button{
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    outline: none;
    border: none;
    background: #76c556;
    color: #fff;

    &:hover{
      background: #5cad3b;
    }
  }
}