footer{
  margin-top: 60px;
  padding: 15PX;
  background: #f1f1f1;

  section{
    display: grid;
    grid-template-columns: repeat(4,1fr);

    ul{
      list-style: none;

      h4{
        color: #298ccf;
        font-weight: bold;
      }

      li{
        margin: 8px 0;
        color: #585858;
      }
    }
  }
}