#Footer{
  width: 100%;
  padding: 2.5rem 0;
  background: #1e1619;
  color: #ebc6af;

  .footerContainer{
    width: 60%;
    margin: 0 auto;
  }

  img{
    display: block;
    width: 3rem;
    height: auto;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .categories{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    a{
      color: #ebc6af;
      text-decoration: none;
    }
  }

  .info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  #Footer{
    .footerContainer{
      width: 90%;

      .categories{
        flex-direction: column;
        align-items: center;
      }

      .info{
        grid-template-columns: 1fr;
      }
    }
  }
}
