#Header {
	width: 100%;

	.headerContainer{
		width: 80%;
    margin: 0 auto;
	}

	.contactInfo {
		width: 100%;
		height: 3.5rem;
		background: #1e1619;

		.headerContainer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 100%;
		}

		a {
			display: flex;
			align-items: center;
      height: 100%;
			color: #ebc6af;
			text-decoration: none;

			svg {
				width: 2rem;
				margin-right: 0.5rem;
				fill: #ebc6af;
			}
		}
	}

	.headerMain {
		width: 100%;
		height: 7rem;

		.headerContainer {
			display: grid;
			grid-template-columns: 2fr minmax(240px,1fr) 2fr;
			column-gap: 4rem;
			height: 100%;
			border-bottom: 2px solid gray;
		}

		.pageLinks {
			display: flex;
			justify-content: space-between;
			align-items: center;

			a {
				color: #1e1619;
				text-decoration: none;
			}
		}

		.mainTitle{
			display: flex;
			align-items: center;

			img {
				width: 100%;
				height: auto;
				margin: auto 0;
			}
		}

		.utils {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.cartInfo{
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: .2rem .5rem;
				background: #ebc6af;
				border: 1px solid #1e1619;
				border-radius: 1rem;
				cursor: pointer;

				svg{
					width: 1.6rem;
					height: auto;
				}

				.price{
					margin: 0 2rem;
					font-weight: bold;
				}

				.quantity{
					font-size: .8rem;
				}
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	#Header{
		.contactInfo{
			a{
				span{
					display: none;
				}
			}
		}

		.headerMain{
			height: auto;

			.headerContainer{
				flex-direction: column-reverse;

				.pageLinks{
					width: 100%;
					margin: 1rem 0;
				}

				img{
					order: 2;
					margin: 0 auto;
				}
			}
		}
	}
}
