/*--Header usa el width de los containers de la pagina que lo contiene--*/

#Header {
	width: 100%;

	.contactInfo {
		width: 100%;
		height: 3.5rem;
		background: #1e1619;

		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 100%;
		}

		a {
			display: flex;
			align-items: center;
      height: 100%;
			color: #ebc6af;
			text-decoration: none;

			svg {
				width: 2rem;
				margin-right: 0.5rem;
				fill: #ebc6af;
			}
		}
	}

	.headerMain {
		width: 100%;
		height: 7rem;

		.container {
			display: flex;
			justify-content: space-between;
			height: 100%;
			border-bottom: 2px solid gray;
		}

		.pageLinks {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 30%;

			a {
				color: #1e1619;
				text-decoration: none;
			}
		}

		img {
			width: 20%;
			height: auto;
		}

		.utils {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 30%;

			a {
				svg {
					width: 2rem;
					height: auto;
				}
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	#Header{
		.contactInfo{
			a{
				span{
					display: none;
				}
			}
		}

		.headerMain{
			height: auto;

			.container{
				flex-direction: column-reverse;

				.pageLinks{
					width: 100%;
					margin: 1rem 0;
				}

				img{
					order: 2;
					margin: 0 auto;
				}
			}
		}
	}
}
